@import "../../global.scss";

.projectsContainer {
  --number-of-projects: 4;

  width: 100%;
  height: calc(100% * var(--number-of-projects));
  margin-top: var(--height-transition-triangle);
  overflow: unset;  // snap scrolling on children works properly only if overflow of parent is unset

  &:after {
    content: "";
    display: block;
    position: relative;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 100px;
    background-color: var(--background-color-light);
    z-index: 99;
    -webkit-clip-path: polygon(0% 0%, 100% 0%, 50% 100%);
    clip-path: polygon(0% 0%, 100% 0%, 50% 100%);
  }
}