@import "../../global.scss";

.international {
  height: calc(100% + var(--height-transition-triangle) * 0.5);
  background-color: var(--background-color-light);
  scroll-snap-align: start;

  margin-top: 50px;

  position: relative;

  overflow: unset;

  .contentContainer {
    width: 100%;
    height: calc(100% - var(--height-transition-triangle) * 0.5);
    background: linear-gradient(var(--background-color-dark), var(--background-color-light));

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    position: relative;

    overflow: hidden;

    .internationalTitle {
      position: absolute;
      top: 3px;
      left: 10px;

      font-size: 2.5em;
      z-index: 100;
    }

    .mapContainer {
      overflow: hidden;
      display: flex;
      justify-content: flex-end;
      align-items: center;

      .imgContainer {
        display: flex;
        align-items: flex-start;
        justify-content: center;
        position: relative;
        margin: 0 3%;

        .northAmerica {
          width: 100%;
          position: relative;
          top: 0;

          path {
            stroke: var(--text-color-top);
            fill: none;
            stroke-linecap: butt;
            stroke-linejoin: round;
            stroke-width: 2.3;
          }
        }

        .eurasia {
          width: 100%;
          position: relative;
          top: 0;

          path {
            stroke: var(--text-color-top);
            fill: none;
            stroke-linecap: butt;
            stroke-linejoin: round;
            stroke-width: 2.3;
          }
        }
      }
    }

    .textContainer {
      position: relative;
      display: flex;
      align-items: center;
      justify-content: center;
    }


  }

  &:after {
    content: "";
    width: 100%;
    height: var(--height-transition-triangle);
    display: block;
    position: relative;
    left: 0;
    bottom: calc(var(--height-transition-triangle) * 0.5);
    background-color: var(--background-color-dark);
    -webkit-clip-path: polygon(0 0, 50% 100%, 100% 0, 100% 100%, 0 100%);
    clip-path: polygon(0 0, 50% 100%, 100% 0, 100% 100%, 0 100%);
    z-index: 99;
  }
}