@import "./../../global.scss";

.sections {
  width: 100%;
  height: 100%;
  background-color: var(--background-color-secondary);
  position: relative;
  scroll-behavior: smooth;
  scroll-snap-type: y mandatory;
  scrollbar-width: none;
  &::-webkit-scrollbar{
    display: none;
  }

  --height-transition-triangle: 100px;
}