@import "./../../global.scss";

.sections {
  width: 100%;
  height: 100vh;
  background-color: var(--background-color-dark);
  position: relative;
  scroll-behavior: smooth;
  scroll-snap-type: y mandatory;
  scrollbar-width: none;
  &::-webkit-scrollbar{
    display: none;
  }
}