@import "../../global.scss";

.logo {
  position: fixed;
  top: 20px;
  left: 35px;
  cursor: pointer;
  transform: rotateZ(0);
  transition: transform 1s ease;

  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;

  @include for-mobile {
    left: unset;
    right: 0px;
    top: 0px;
    transform: scale(0.5);
  }

  .logoPart {
    margin: 0;
  }

  .firstR {
    transform: rotateY(180deg);
  }

  .secondR {
    transform: translateX(-3px);
  }

  &:hover {
    transform: scale(1);
  }
}