@import "../../global.scss";

.poseGraphPredictionContainer {
  height: calc(100% / var(--number-of-projects));
  background: linear-gradient(var(--background-color-secondary), var(--background-color-primary));
  scroll-snap-align: start;
  position: relative;
  top: 0;

  display: flex;

  width: 100%;
  color: var(--text-color-bottom);

  flex-direction: row;
  align-items: center;
  justify-content: space-evenly;
  overflow: hidden;

  @include for-mobile {
    flex-direction: column;
  }

  @include for-tablet {
    flex-direction: column;
  }

  .imageFrame {
    position: relative;
    margin: 4% 2%;
    z-index: 1;

    overflow: hidden;

    @include for-mobile {
      width: 95%;
      height: 60%;
      margin: 0;
    }

    @include for-tablet {
      width: 95%;
      height: 60%;
      margin: 0;
    }

    .imageContainer {
      position: relative;

      overflow: hidden;

      @include for-mobile {
        height: 92%;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
      }

      @include for-tablet {
        height: 92%;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
      }

      .dancersImage {
        max-width: 100%;
        position: relative;
        top: 0;
        left: 0;

        @include for-mobile {
          max-width: unset;
          height: 100%;
        }

        @include for-tablet {
          max-width: unset;
          height: 100%;
        }
      }

      .upperLineCue, .lowerLineCue {
        width: 35px;
        height: 35px;
        position: absolute;
        border-radius: 50%;
        background-color: var(--cue-color);
        transform: scale(0);

        &.inView {
          animation: cueAnimation 1s ease-in-out both;
        }
      }

      #cue1 {
        top: 22.5%;
        left: 25.5%;

        @include for-mobile {
          top: 20.7%;
          left: 24.2%;
        }

        @include for-tablet {
          top: 21.3%;
          left: 24.7%;
        }

        &.inView {
          animation-delay: 500ms;
        }
      }

      #cue2 {
        top: 14.2%;
        left: 36.9%;

        @include for-mobile {
          top: 12.4%;
          left: 35.4%;
        }

        @include for-tablet {
          top: 13.3%;
          left: 36%;
        }

        &.inView {
          animation-delay: 1100ms;
        }
      }

      #cue3 {
        top: 11%;
        left: 46.6%;

        @include for-mobile {
          top: 9.1%;
          left: 45.2%;
        }

        @include for-tablet {
          top: 9.8%;
          left: 45.8%;
        }

        &.inView {
          animation-delay: 1400ms;
        }
      }

      #cue4 {
        top: 45%;
        left: 29.4%;

        @include for-mobile {
          top: 43%;
          left: 28%;
        }

        @include for-tablet {
          top: 44%;
          left: 28.6%;
        }

        &.inView {
          animation-delay: 3400ms;
        }
      }

      #cue5 {
        top: 51.4%;
        left: 48%;

        @include for-mobile {
          top: 49.4%;
          left: 46.6%;
        }

        @include for-tablet {
          top: 50.7%;
          left: 47%;
        }

        &.inView {
          animation-delay: 4000ms;
        }
      }

      #cue6 {
        top: 57.3%;
        left: 53%;

        @include for-mobile {
          top: 55%;
          left: 51.6%;
        }

        @include for-tablet {
          top: 56.5%;
          left: 52.1%;
        }

        &.inView {
          animation-delay: 4300ms;
        }
      }

      @keyframes cueAnimation {
        0% {
          opacity: 1;
          transform: scale(0);
        }
        50% {
          opacity: 1;
          transform: scale(0.6);
        }
        100% {
          opacity: 0;
          transform: scale(1.2);
        }
      }

      .linesForDancersImage {
        max-width: 100%;
        position: absolute;
        top: 0;
        left: 0;

        clip-path: polygon(0% 0%, 10% 0%, 10% 35%, 10% 45%, 10% 100%, 0% 100%);

        &.inView {
          animation: revealUpperLine 3s ease-in-out both 1400ms, revealLowerLine 3s ease-in-out forwards 4400ms;
        }

        @keyframes revealUpperLine {
          0% {
            clip-path: polygon(0% 0%, 10% 0%, 10% 35%, 10% 45%, 10% 100%, 0% 100%);
          }
          100% {
            clip-path: polygon(0% 0%, 100% 0%, 100% 35%, 10% 45%, 10% 100%, 0% 100%);
          }
        }

        @keyframes revealLowerLine {
          0% {
            clip-path: polygon(0% 0%, 100% 0%, 100% 35%, 10% 45%, 10% 100%, 0% 100%);
          }
          100% {
            clip-path: polygon(0% 0%, 100% 0%, 100% 35%, 100% 45%, 100% 100%, 0% 100%);
          }
        }

        @include for-mobile {
          max-width: unset;
          height: 100%;
        }

        @include for-tablet {
          max-width: unset;
          height: 100%;
        }
      }
    }
  }

  .textContainer {
    position: relative;
    padding-right: 2%;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    overflow: visible;

    opacity: 0;
    transform: translateX(-50px);

    &.wasInView {
      animation: slideInText 500ms ease-in-out 7000ms;
      animation-fill-mode: both;
    }

    z-index: 0;

    @include for-mobile {
      width: 100%;
      padding: 0 5%;
    }

    @include for-tablet {
      width: 100%;
      padding: 0 5% 20px 5%;
    }

    @keyframes slideInText {
      from {
        opacity: 0;
        transform: translateX(-50px);
      }
      to {
        opacity: 1;
        transform: translateX(0px);
      }
    }
  }

  .links {
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
  }
}