@import "./../../global.scss";

body ::-webkit-scrollbar {
  display: none;
  width: 0;
}

.privacyStatementContainer {
  width: 100%;
  background: linear-gradient(var(--background-color-primary), var(--background-color-secondary));
  color: var(--text-color);
  scrollbar-width: none;

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  p {
     padding-left: 5px;
  }

  .contentContainer {
    width: 90%;
    max-width: 900px;
    padding: 5% 5% 0 5%;
    text-align: left;
    scrollbar-width: none;

    @include for-mobile {
      padding: 40px 5% 70px 0;
    }

    h1 {
      @include for-mobile {
        font-size: 2.9em;
      }
    }

    h2 {
      @include for-mobile {
        font-size: 2.15em;
        background: repeating-linear-gradient(180deg, var(--text-color-top) 0px, var(--text-color-bottom) 2.9rem) text;
      }
    }

    ul {
      display: list-item;
      list-style: disc;
      margin-bottom: 1rem;

      li {
        overflow: initial;
      }
    }

    .linkToSiteNotice {
      cursor: pointer;
      color: #4183c4;
    }
  }
}