@import "../../global.scss";

.weatherWebsiteContainer {
  height: calc(100% / var(--number-of-projects) - var(--height-transition-triangle) * 0.5);
  background: linear-gradient(var(--background-color-dark), var(--background-color-light));
  scroll-snap-align: start;
  position: relative;
  top: 0;

  display: flex;

  width: 100%;
  color: var(--text-color-bottom);

  flex-direction: row;
  align-items: center;
  justify-content: space-evenly;
  overflow: hidden;

  @include for-mobile {
    flex-direction: column;
  }

  .projectsHeadline {
    position: absolute;
    top: 3px;
    left: 10px;

    font-size: 2.5em;
    z-index: 100;
  }

  .imageContainer {
    max-width: 42%;
    max-height: 80%;
    overflow: hidden;
    position: relative;
    z-index: 1;

    display: flex;
    justify-content: center;
    align-items: center;

    @include for-mobile {
      max-width: unset;
      width: 110%;
    }

    .websiteImageOne {
      width: 100%;
      position: relative;
      left: 0;
      transform: translate(0, -1px);

      &.inView {
        animation: slideWebsiteOne 500ms cubic-bezier(.86, 0, .07, 1) both 2s;
      }
    }

    .websiteImageTwo {
      width: 100%;
      position: absolute;
      left: 0;
      transform: translate(1px, 0);

      &.inView {
        animation: slideWebsiteTwo 500ms cubic-bezier(.86, 0, .07, 1) both 2s;
      }
    }

    .phoneTemplateImage {
      width: 100%;
      position: absolute;
      left: 0;
    }

    .swipeCue {
      width: 35px;
      height: 35px;
      border-radius: 50%;
      background-color: #8f1552;
      position: absolute;
      top: 64%;
      left: 52%;

      &.inView {
        animation: swipeCue 1000ms cubic-bezier(.86, 0, .07, 1) both 1000ms;
      }

      @include for-mobile {
        top: 57%;
      }
    }

    @keyframes slideWebsiteOne {
      from {
        transform: translate(0, -1px);
      }
      to {
        transform: translate(-17.2%, -5.8%);
      }
    }

    @keyframes slideWebsiteTwo {
      from {
        transform: translate(17.2%, 5.8%);
      }
      to {
        transform: translate(1px, 0);
      }
    }

    @keyframes swipeCue {
      0% {
        opacity: 1;
        transform: translate(0, 0) scale(0);
      }
      10% {
        opacity: 1;
        transform: translate(0, 0) scale(1.5);
      }
      20% {
        opacity: 1;
        transform: translate(0, 0) scale(1);
      }
      100% {
        opacity: 0;
        transform: translate(-150px, -85px) scale(0.2);
      }
    }
  }

  .textContainer {
    position: relative;
    transform: translateY(-450px);
    padding-bottom: 50px;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;

    &.inView {
      animation: slideInTextWeather 500ms ease-in-out;
      animation-fill-mode: both;
    }

    z-index: 0;

    @include for-mobile {
      width: 90%;
      padding-bottom: 0;
    }

    @keyframes slideInTextWeather {
      from {
        opacity: 0;
        transform: translateX(50px);
      }
      to {
        opacity: 1;
        transform: translateX(0px);
      }
    }

    .headlineBig {
      font-family: var(--font-family-big-heading);
      font-size: var(--font-size-big-heading);
      font-weight: var(--font-weight-big-heading);
      background: var(--background-big-heading);
      background-clip: text;
      -webkit-background-clip: text;
      color: transparent;
    }

    #projectName {
      width: 100%;
      margin: 0;
      overflow: hidden;

      @include for-mobile {
        font-size: 3.5em;
      }
    }

    .text {
      font-family: var(--font-family-paragraph);
      font-size: var(--font-size-paragraph);
      font-weight: var(--font-weight-paragraph);
      background: var(--background-paragraph);
      background-clip: text;
      -webkit-background-clip: text;
      color: transparent;
    }

    #projectDescription {
      @include for-mobile {
        font-size: 1.5em;
      }
    }

    a {
      width: min-content;
      height: 39px;
      font-family: var(--font-family-paragraph);
      font-size: var(--font-size-paragraph);
      font-weight: var(--font-weight-paragraph);

      padding: 7px;
      border: 2px solid var(--text-color-bottom);

      color: var(--text-color-bottom);
      transition: all 500ms cubic-bezier(.18,.89,.32,1.28);

      display: flex;
      flex-direction: row;

      #externalLink {
        margin-left: 5px;
        height: 14px;
        margin-top: 1px;

        path {
          stroke: var(--text-color-bottom);
          transition: all 500ms cubic-bezier(.18,.89,.32,1.28);
        }
      }

      &:hover {
        border: 2px solid var(--text-color-top);
        color: var(--text-color-top);
        #externalLink {
          path {
            stroke: var(--text-color-top);
          }
        }
      }
    }
  }
}