@import "../../global.scss";

.sidebar {
  width: 300px;
  height: 100%;
  background-color: green;
  color: $textColor;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 3;
  transition: all 1s ease;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  box-shadow: 0px 0px 5px 5px #343434;

  .wrapper {
    width: 100%;
    background-color: $alternativeColor;
    display: flex;
    align-items: center;
    justify-content: flex-end;

    .hamburger {
      padding: 20px 20px;
      width: 48px;
      height: 37px;
      display: flex;
      flex-direction: column;
      justify-content: space-between;

      span {
        width: 100%;
        height: 3px;
        background-color: $textColor;
        transform-origin: left;
        transition: all 2s ease;
      }
    }
  }

  .menu {
    width: 100%;
    height: 90%;
    background-color: $alternativeColor;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    ul {
      margin: 0;
      padding: 0;
      list-style: none;
      font-size: 30px;
      font-weight: 300;
      color: $textColor;
      width: 60%;

      li {
        margin-bottom: 25px;
        a {
          font-size: inherit;
          color: inherit;
          text-decoration: none;
        }

        &:hover {
          font-weight: 400;
        }
      }
    }
  }

  &.active {
    background-color: red;
    color: $textColor;
    left: -212px;

    .hamburger {
      span {
        &:first-child {
          background-color: $textColor;
          transform: rotate(45deg);
        }
        &:nth-child(2) {
          opacity: 0;
        }
        &:last-child {
          background-color: $textColor;
          transform: rotate(-45deg);
        }
      }
    }
  }
}