@import "../../global.scss";

.cinematographerContainer {
  height: calc(100% / var(--number-of-projects));
  background: linear-gradient(var(--background-color-light), var(--background-color-dark));
  scroll-snap-align: start;

  display: flex;

  width: 100%;
  color: var(--text-color-bottom);

  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  overflow: hidden;
  position: relative;

  .projectsHeadline {
    position: absolute;
    top: 3px;
    left: 10px;

    font-size: 2.5em;
    z-index: 100;
  }

  .imageContainer {
    overflow: hidden;
    position: relative;
    z-index: 1;

    @include for-mobile {
      width: 150%;
    }

    .cameramanImage {
      max-width: 100%;
      position: relative;
      top: 0;
      left: 0;
    }

    .lineForCameramanImage {
      max-width: 100%;
      position: absolute;
      top: 0;
      left: 0;
    }
  }

  .textContainer {
    position: relative;
    transform: translateY(-450px);
    padding-bottom: 50px;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;

    animation: slideInText 2s ease-in-out;
    animation-fill-mode: both;
    animation-delay: 5s;
    z-index: 0;

    @include for-mobile {
      width: 90%;
      padding-bottom: 0;
    }

    @keyframes slideInText {
      from {
        opacity: 0;
        transform: translateY(-450px);
      }
      to {
        opacity: 1;
        transform: translateY(0px);
      }
    }

    .headlineBig {
      font-family: var(--font-family-big-heading);
      font-size: var(--font-size-big-heading);
      font-weight: var(--font-weight-big-heading);
      background: var(--background-big-heading);
      background-clip: text;
      -webkit-background-clip: text;
      color: transparent;
    }

    #projectName {
      width: 100%;
      margin: 0;
      overflow: hidden;

      @include for-mobile {
        font-size: 3.5em;
      }
    }

    .text {
      font-family: var(--font-family-paragraph);
      font-size: var(--font-size-paragraph);
      font-weight: var(--font-weight-paragraph);
      background: var(--background-paragraph);
      background-clip: text;
      -webkit-background-clip: text;
      color: transparent;
    }

    #projectDescription {
      @include for-mobile {
        font-size: 1.5em;
      }
    }

    a {
      width: min-content;
      height: 39px;
      font-family: var(--font-family-paragraph);
      font-size: var(--font-size-paragraph);
      font-weight: var(--font-weight-paragraph);

      padding: 7px;
      border: 2px solid var(--text-color-bottom);

      color: var(--text-color-bottom);
      transition: all 500ms cubic-bezier(.18,.89,.32,1.28);

      display: flex;
      flex-direction: row;

      #externalLink {
        margin-left: 5px;
        height: 14px;
        margin-top: 1px;

        path {
          stroke: var(--text-color-bottom);
          transition: all 500ms cubic-bezier(.18,.89,.32,1.28);
        }
      }

      &:hover {
        border: 2px solid var(--text-color-top);
        color: var(--text-color-top);
        #externalLink {
          path {
            stroke: var(--text-color-top);
          }
        }
      }
    }
  }
}