@import "../../global.scss";

.cinematographerContainer {
  height: calc(100% / var(--number-of-projects));
  background: linear-gradient(var(--background-color-primary), var(--background-color-secondary));
  scroll-snap-align: start;

  position: relative;

  display: flex;

  width: 100%;
  color: var(--text-color-bottom);

  flex-direction: row;
  align-items: center;
  justify-content: space-evenly;
  overflow: hidden;

  @include for-mobile {
    flex-direction: column;
  }

  @include for-tablet {
    flex-direction: column;
  }

  .imageFrame {
    max-height: 90%;
    position: relative;
    margin: 4% 2%;
    z-index: 1;

    overflow: hidden;

    @include for-mobile {
      width: 95%;
      height: 60%;
      margin: 0;
    }

    @include for-tablet {
      width: 95%;
      height: 60%;
      margin: 0;
    }

    .imageContainer {
      position: relative;

      overflow: hidden;

      @include for-mobile {
        height: 82%;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
      }

      @include for-tablet {
        height: 92%;
        position: absolute;
        left: 50%;
        top: 50%;
        transform: translate(-50%, -50%);
      }

      .cameramanImage {
        max-width: 100%;
        position: relative;
        top: 0;
        left: 0;

        @include for-mobile {
          max-width: unset;
          height: 100%;
        }

        @include for-tablet {
          max-width: unset;
          height: 100%;
        }
      }

      .cameraOutlineImage {
        max-width: 100%;
        position: absolute;
        top: 0;
        left: 0;

        &.inView {
          animation: blink 800ms ease-out both 600ms;
        }

        @keyframes blink {
          0% {
            opacity: 0;
          }
          5% {
            opacity: 1;
          }
          100% {
            opacity: 0;
          }
        }
      }

      .lineForCameramanImage {
        max-width: 100%;
        position: absolute;
        top: 0;
        left: 0;

        clip-path: polygon(0% 89.57%, 58.33% 60.29%, 60.00% 68.44%, 41.88% 68.92%, 48.49% 99.88%, 0% 100%);

        &.inView {
          animation: revealLowerLinePart 1500ms linear both 1500ms, revealUpperLinePart 1500ms linear forwards 3500ms;
        }

        @keyframes revealLowerLinePart {
          0% {
            clip-path: polygon(0% 89.57%, 58.33% 60.29%, 60.00% 68.44%, 41.88% 68.92%, 48.49% 99.88%, 0% 100%);
          }
          14% {
            clip-path: polygon(0% 89.57%, 58.33% 60.29%, 60% 68.44%, 42.19% 78.65%, 48.49% 99.88%, 0% 100%);
          }
          26% {
            clip-path: polygon(0% 89.57%, 58.33% 60.29%, 60% 68.44%, 45.94% 86.27%, 48.49% 99.88%, 0% 100%);
          }
          36% {
            clip-path: polygon(0% 89.57%, 58.33% 60.29%, 60% 68.44%, 52.97% 92.13%, 57.63% 99.76%, 0% 100%);
          }
          45% {
            clip-path: polygon(0% 89.57%, 58.33% 60.29%, 59.61% 74.77%, 61.33% 94.36%, 73.88% 99.76%, 0% 100%);
          }
          57% {
            clip-path: polygon(0% 89.57%, 58.33% 60.29%, 63.59% 79.57%, 72.42% 93.19%, 87.24% 96.60%, 0% 100%);
          }
          70% {
            clip-path: polygon(0% 89.57%, 58.33% 60.29%, 66.72% 79.34%, 82.26% 86.51%, 96.93% 90.51%, 0% 100%);
          }
          80% {
            clip-path: polygon(0% 89.57%, 58.33% 60.29%, 70.78% 79.69%, 81.95% 72.57%, 98.88% 87.93%, 0% 100%);
          }
          90% {
            clip-path: polygon(0% 89.57%, 58.33% 60.29%, 70.78% 79.69%, 74.37% 64.72%, 98.88% 87.93%, 0% 100%);
          }
          100% {
            clip-path: polygon(0% 89.57%, 58.33% 60.29%, 70.78% 79.69%, 67.03% 62.73%, 98.88% 87.93%, 0% 100%);
          }
        }

        @keyframes revealUpperLinePart {
          0% {
            clip-path: polygon(0.15% 66.6%, 36.22% 76.34%, 40.08% 62.70%, 58.13% 54.27%, 99.43% 89.57%, 0% 100%);
          }
          9% {
            clip-path: polygon(0.15% 66.6%, 28.80% 78.10%, 31.65% 63.17%, 58.13% 54.27%, 99.43% 89.57%, 0% 100%);
          }
          18% {
            clip-path: polygon(0.15% 66.6%, 19.11% 69.31%, 31.65% 63.17%, 58.13% 54.27%, 99.43% 89.57%, 0% 100%);
          }
          37% {
            clip-path: polygon(9.53% 35.9%, 22.63% 41.19%, 39.46% 41.96%, 58.13% 54.27%, 99.43% 89.57%, 0% 100%);
          }
          47% {
            clip-path: polygon(27.58% 0.17%, 30.36% 19.16%, 39.46% 41.96%, 58.13% 54.27%, 99.43% 89.57%, 0% 100%);
          }
          55% {
            clip-path: polygon(33.83% -0.42%, 36.46% 14.24%, 39.46% 41.96%, 58.13% 54.27%, 99.43% 89.57%, 0% 100%);
          }
          66% {
            clip-path: polygon(33.83% -0.42%, 44.35% 11.31%, 39.46% 41.96%, 58.13% 54.27%, 99.43% 89.57%, 0% 100%);
          }
          77% {
            clip-path: polygon(33.83% -0.42%, 58.42% 19.28%, 39.46% 41.96%, 58.13% 54.27%, 99.43% 89.57%, 0% 100%);
          }
          88% {
            clip-path: polygon(33.83% -0.42%, 70.22% 25.02%, 35.46% 51.96%, 58.13% 54.27%, 99.43% 89.57%, 0% 100%);
          }
          100% {
            clip-path: polygon(33.83% -0.42%, 83.03% 27.01%, 31.65% 63.17%, 58.13% 54.27%, 99.43% 89.57%, 0% 100%);
          }
        }


        @include for-mobile {
          max-width: unset;
          height: 100%;
        }

        @include for-tablet {
          max-width: unset;
          height: 100%;
        }
      }
    }
  }

  .textContainer {
    position: relative;
    padding-right: 2%;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    overflow: visible;

    opacity: 0;
    transform: translateX(-50px);

    &.wasInView {
      animation: slideInText 500ms ease-in-out 5500ms;
      animation-fill-mode: both;
    }

    z-index: 0;

    @include for-mobile {
      width: 100%;
      padding: 0 5%;
    }

    @include for-tablet {
      width: 100%;
      padding: 0 5% 20px 5%;
    }

    @keyframes slideInText {
      from {
        opacity: 0;
        transform: translateX(-50px);
      }
      to {
        opacity: 1;
        transform: translateX(0px);
      }
    }
  }
}