@import "../../global.scss";

.interests {
  height: calc(100% + var(--height-transition-triangle) * 0.5);
  background-color: var(--background-color-secondary);
  scroll-snap-align: start;

  position: relative;

  overflow: unset;

  .interestsContainer {
    width: 100%;
    height: 100%;
    background: linear-gradient(var(--background-color-secondary), var(--background-color-primary));

    display: flex;
    align-items: center;
    justify-content: center;

    position: relative;

    .interestsTitle {
      position: absolute;
      top: 3px;
      left: 42px;
      z-index: 100;

      @include for-mobile {
        left: 50%;
        transform: translateX(-50%);
        font-size: 4.5em;
      }

      @include for-tablet {
        left: 50%;
        transform: translateX(-50%);
      }
    }

    .iconsContainer {
      width: 92%;
      height: 68%;
      padding-right: 0;
      padding-top: 0;

      display: grid;
      grid-template: repeat(3, 1fr) / repeat(3, 1fr);

      &.preAnimation {
        .iconContainer {
          .icon {
            * {
              stroke-dashoffset: 500;

              @include for-mobile {
                opacity: 0;
                stroke-dasharray: 0 100;
              }

              @include for-tablet {
                opacity: 0;
                stroke-dasharray: 0 100;
              }
            }
          }
        }
      }

      &.doAnimation {
        .iconContainer {
          .icon {
            * {
              animation: drawIcons 3s ease-in both 800ms;

              @include for-mobile {
                animation: drawIconsMobile 3s ease-in-out both 800ms;
              }

              @include for-tablet {
                animation: drawIconsMobile 3s ease-in-out both 800ms;
              }
            }

            @keyframes drawIcons {
              from {
                stroke-dashoffset: 500;
              }
              to {
                stroke-dashoffset: 0;
              }
            }

            @keyframes drawIconsMobile {
              0% {
                opacity: 0;
                stroke-dasharray: 0 100;
              }
              1% {
                opacity: 1;
                stroke-dasharray: 0 100;
              }
              100% {
                opacity: 1;
                stroke-dasharray: 100 0;
              }
            }
          }
        }
      }

      &.postAnimation {
        .iconContainer {
          .icon {
            * {
              stroke-dashoffset: 0;

              @include for-mobile {
                opacity: 1;
                stroke-dasharray: 100 0;
              }

              @include for-tablet {
                opacity: 1;
                stroke-dasharray: 100 0;
              }
            }
          }
        }
      }

      .iconContainer {
        width: 86%;
        height: 70%;

        align-self: center;
        justify-self: center;

        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        overflow: visible;

        .hoverContainer {
          width: 100%;
          height: 100%;
          position: relative;

          display: flex;
          flex-direction: column;
          align-items: center;
          justify-content: center;
          overflow: visible;

          .icon {
            position: relative;
            opacity: 1;
            transition: opacity 1s ease-out;

            * {
              stroke: var(--icon-stroke-color);
              stroke-width: 2.5;
              fill: none;

              stroke-linejoin: round;
              stroke-linecap: round;

              stroke-dasharray: 500;

              @include for-mobile {
                stroke-width: 3;
              }
            }
          }

          .iconTitle {
            position: absolute;
            opacity: 0;
            transition: opacity 1s ease-out;
            overflow: visible;

            @include for-mobile {
              font-size: 2rem;
            }

            @include for-tablet {
              font-size: 3rem;
            }
          }
        }

        &:hover {
          .icon {
            transition: opacity 500ms ease-out;
            opacity: 0;
          }

          .iconTitle {
            opacity: 1;
          }
        }
      }
    }
  }

  &:after {
    content: "";
    width: 100%;
    height: var(--height-transition-triangle);
    display: block;
    position: relative;
    left: 0;
    bottom: calc(var(--height-transition-triangle));
    background-color: var(--background-color-secondary);
    -webkit-clip-path: polygon(0 0, 50% 100%, 100% 0, 100% 100%, 0 100%);
    clip-path: polygon(0 0, 50% 100%, 100% 0, 100% 100%, 0 100%);
    z-index: 99;
  }
}