@import "../../global.scss";

.interests {
  height: 100%;
  background-color: var(--background-color-dark);
  scroll-snap-align: start;

  display: flex;

  overflow: unset;

  .interestsContainer {
    width: 100%;
    height: 100%;
    background: linear-gradient(var(--background-color-dark), var(--background-color-light));

    display: flex;
    align-items: center;
    justify-content: center;

    position: relative;

    .interestsTitle {
      position: absolute;
      top: 3px;
      left: 10px;

      font-size: 2.5em;
      z-index: 100;
    }

    .lineCue {
      width: 220%;
      height: 8px;
      position: absolute;
      transform: rotateZ(-45deg);
      top: 42%;
      z-index: 1;

      background-color: #901855;
    }

    .iconsContainer {
      width: 80%;
      padding-right: 0;
      padding-top: 0;

      display: grid;
      grid-template-rows: 1fr 1fr 1fr;
      grid-template-columns: 1fr 1fr 1fr;

      &.inView {
        .iconContainer {
          .icon {
            * {
              animation: draw 3s ease-in both;
            }

            @keyframes draw {
              from {
                stroke-dashoffset: 500;
              }
              to {
                stroke-dashoffset: 0;
              }
            }
          }
        }
      }

      @include for-mobile {
        width: 100%;
        height: 100%;
        padding-right: 5%;
        padding-top: 70px;

        grid-template-rows: max-content max-content max-content;
        grid-template-columns: max-content max-content max-content;
      }

      .iconContainer {
        width: 50%;
        height: 70%;
        margin-left: 110px;

        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        overflow: hidden;

        @include for-mobile {
          width: 90px;
          height: 90px;
          margin-left: 35px;
          margin-top: 60px;
        }

        .icon {
          position: relative;

          &.middle {
            position: relative;
            z-index: 2;
          }

          * {
            stroke: var(--icon-stroke-color);
            stroke-width: 2.5;
            fill: none;

            stroke-linejoin: round;
            stroke-linecap: round;

            stroke-dasharray: 500;
            stroke-dashoffset: 500;

            @include for-mobile {
              stroke-width: 3;
            }
          }
        }
      }
    }
  }
}