@import "./global.scss";

@font-face {
  font-family: 'Emberly';
  font-weight: 800;
  src: local('Emberly'), url(./fonts/Emberly-ExtraBold.woff) format('woff');
}

.app {
  height: 100%;
  scrollbar-width: none;

  .linksToPrivacy {
    position: fixed;
    bottom: 150px;
    right: -75px;
    transform: rotateZ(-90deg);
    z-index: 1000;

    display: flex;
    flex-direction: row;

    @include for-mobile {
      display: none;
    }

    .linkToPrivacyStatement {
      color: #8c9293;
      cursor: pointer;

      &:hover {
        color: black;
      }
    }

    .linkToSiteNotice {
      color: #8c9293;
      padding-left: 20px;
      cursor: pointer;

      &:hover {
        color: black;
      }
    }
  }
}