@import "./global.scss";

@font-face {
  font-family: 'Emberly';
  font-weight: 800;
  src: local('Emberly'), url(./fonts/Emberly-ExtraBold.woff) format('woff');
}

.app {
  height: 100%;
  scrollbar-width: none;
}