:root {
  --text-color-top: #36716b;
  --text-color-bottom: #213f44;

  --font-family-big-heading: Emberly, sans-serif;
  --font-size-big-heading: 6rem;
  --font-weight-big-heading: 800;
  --background-big-heading: repeating-linear-gradient(180deg, var(--text-color-top) 0px, var(--text-color-bottom) 6.7rem);

  --font-family-medium-heading: 'Playfair Display', sans-serif;
  --font-size-medium-heading: 3rem;
  --font-weight-medium-heading: 700;
  --background-medium-heading: repeating-linear-gradient(180deg, var(--text-color-top) 0px, var(--text-color-bottom) 4rem);

  --font-family-paragraph: 'Roboto Slab', sans-serif;
  --font-size-paragraph: 1.8rem;
  --font-weight-paragraph: 700;
  --background-paragraph: repeating-linear-gradient(180deg, var(--text-color-top) 0px, var(--text-color-bottom) 2.4rem);

h1 {
  font-family: var(--font-family-big-heading);
  font-size: var(--font-size-big-heading);
  font-weight: var(--font-weight-big-heading);
  background: var(--background-big-heading);
  background-clip: text;
  -webkit-background-clip: text;
  color: transparent;
}

h2 {
  font-family: var(--font-family-medium-heading);
  font-size: var(--font-size-medium-heading);
  font-weight: var(--font-weight-medium-heading);
  background: var(--background-medium-heading);
  background-clip: text;
  -webkit-background-clip: text;
  color: transparent;
  overflow: hidden;
}