$backgroundColor: #505160;
$textColor: #efefef; // #68829e;
$alternativeColor: #598234;
$highlightColor: #aebd38;

$width: 1128px;
$height: 526px;

@mixin mobile {
  @media (max-width: #{$width}) {
    @content
  }
}